<section class="block container">
    <headder class="block__header">
        <div class="container">
            <h2 class="block__headding">Headding</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, esse.
            </p>
        </div>
    </headder>
</section>

<section class="block block--dark block--skewed-left">
    <h2 class="block__headding">Headding</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, esse.
    </p>
</section>